{"filter":false,"title":"requirements.txt","tooltip":"/coop_evolve/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":13,"mode":"ace/mode/text"}},"timestamp":1572459172841,"hash":"57d7603134dd116bb786d882d5efb3283c0e9ea6"}